/*=====================================================================
@Developed By: Simone Sorrenti
Author E-mail: simone.sorrenti.21@gmail.com, simone.sorrenti@mail.polimi.it

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Montserrat:500,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/*---------------------------------------------------- */
/*----------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

a:hover {
  text-decoration: none;
  color: #4a0072;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #6E57E0;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-item {
  font: 500 20px/0px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
  margin-left: 20px;
  text-decoration: none;
}

.nav-item.active {
  font-weight: bold;
  color: #6E57E0;
}

.nav-item:hover {
  text-decoration: none;
  color: #4a0072;
}

.sign {
  font: 500 40px/50px "Caveat", sans-serif;
}

/* HOME */

.home-container {
  display: flex;
  margin-top: 60px;
}

.social-column {
  flex: 0 0 25%; 
}

.social-icons-column {
  font-size: 36px;
  display: flex; 
  flex-direction: column;
  gap: 20px; 
}

.info-column {
  flex: 0 0 50%; 
}

.info-row {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.info-row-me {
  text-align: left;
  font: 500 30px/0px "Montserrat", sans-serif;
}

.carousel-column {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.carousel img {
  width: 100%; 
  max-width: 300px;
  margin: 10px 0; 
  border-radius: 50%;
  object-fit: cover; 
}

.img-button {
  background-color: #6E57E0;
  color: white;
  border: none;
  border-color: none;
  border-radius: 50px;
  padding: 10px 20px; 
  
}

.img-button:hover {
  background-color: #4a0072;
}

.img-button:focus, .img-button:active {
  outline: none;
}


/* EDUCATION */
.content {
  padding-top: 100px; 
  flex: 1;
  padding-bottom: 100px;
}

.section-title {
  font-size: 36px;
  color: #6E57E0;
}

.section-description {
  font-size: 15px;
  margin-bottom: 60px;
  color: #555555;
}

.degree-dropdown {
  margin-bottom: 20px;
  margin-left: 5%;
  width: 150px;
}

.degree-dropdown select {
  display: block; 
  margin: 0 auto; 
  width: 100%;
}

.degree-title {
  font-size: 28px;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
}

.degree-info {
  font-size: 16px;
  color: #666;
}

.subjects-table {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #6E57E0;
  color: white;
}

.final_grade {
  font: 500 20px "Montserrat", sans-serif;
}

.info {
  padding-bottom: 20px;
  font: 500 10px "Montserrat", sans-serif;
  width: 60%;
  text-align: center;
  margin: 0 auto; 
}

/* EXPERIENCE */

.exp-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.experience-btn {
  padding: 10px 20px;
  font: 600 20px "Montserrat", sans-serif;
  cursor: pointer;
  border: none; 
  border-radius: 5px;
  background-color: #ffffff; 
  color: #333; 
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none; 
  box-shadow: none;
}

.experience-btn:hover {
  background-color: #ffffff;
  color: #4a0072; 
}

.experience-btn:focus {
  outline: none;
  box-shadow: none; 
}

.experience-btn.selected {
  color: #6E57E0;  
  background-color: #ffffff;
  border: none; 
  box-shadow: none; 
}

#experience-container {
  position: relative;
  margin: 0 auto;
  padding-bottom: 40px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #6E57E0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  margin-top: 20px;
}

.container-exp {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container-exp::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #6E57E0;
  border: 4px solid #6E57E0;
  top: 15px;
  border-radius: 50%;

}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;

  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #6E57E0;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;

  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #6E57E0 transparent transparent;
}

.right::after {
  left: -12px;
}

.content-exp {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.role-exp{
  font: 500 20px "Montserrat", sans-serif;
  color: #6E57E0
}

.company-exp{
  font: 400 15px "Montserrat", sans-serif;
  color: #333;
  margin: 0;
}

.time-exp{
  font: 400 15px "Montserrat", sans-serif;
  color: #333;
}


/* SKILLS */

.skills-section {
  margin-bottom: 40px;
}

.skills-section i {
  margin-right: 10px;
  color: #6E57E0;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list span {
  margin-right: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* PORTFOLIO */

.container-portfolio {
  margin: auto;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}
.project img {
  width: 30%; 
  object-fit: cover; 
}

.project-content {
  padding: 20px;
  width: 70%; 
}
.project:nth-child(even) {
  flex-direction: row-reverse; 
}

.project-title {
  font: 500 30px "Montserrat", sans-serif;
  color: #6E57E0
}

.project-info {
  margin: 0;
  text-align: left;
}

.project-description {
  margin-top: 20px;
  text-align: left;
}

.github-portfolio {
  font-size: 15px;
}

.buttons-portfolio {
    display: flex;     
    align-items: center;   
    text-align: left;   
}


/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6E57E0;
  color: white;
  text-align: center;
  margin: 0px;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
}

.social-icons a:hover {
  color: #4a0072;
}

.footer-text {
  margin: 0px;
  padding: 0px;
}